
<center> <font size="6" face="monospace "> <u> <b> MY PROFILE </b> </u> </font> </center>	 

<center> <table width="900" style="border:2px #E1E1E1 solid; padding:5px; margin:5px 5px 5px 5px;" rules="all" cellpadding='15';"> 

　<tr bgcolor="#F5F5F5">
　<td style="text-align: center; line-height:36px; vertical-align: middle; font-size:16px;"> 姓名 </td>
　<td style="font-size:16px;"> <font color="midnightblue"> 姜又瑄 </font> </td>
　</tr>

　<tr bgcolor="white">
　<td style="text-align: center; line-height:36px; vertical-align: middle; font-size:16px;"> 學號 </td>
　<td style="font-size:16px;"> <font color="midnightblue"> 06170401 </font> </td>
　</tr>

　<tr bgcolor="#F5F5F5">
　<td style="text-align: center; line-height:36px; vertical-align: middle; font-size:16px;"> 生日 </td>
　<td style="font-size:16px;"> <font color="midnightblue"> 1999.07.02 </font> </td>
　</tr>

　<tr bgcolor="white">
　<td style="text-align: center; line-height:36px; vertical-align: middle; font-size:16px;"> 星座 </td>
　<td style="font-size:16px;"> <font color="midnightblue"> 巨蟹座 </font> </td>
　</tr>

　<tr bgcolor="#F5F5F5">
　<td style="text-align: center; line-height:36px; vertical-align: middle; font-size:16px;"> 手機 </td>
　<td style="font-size:16px;"> <font color="midnightblue"> 0967220562 </font> </td>
　</tr>

　<tr bgcolor="white">
　<td style="text-align: center; line-height:36px; vertical-align: middle; font-size:16px;"> 居住的縣市 </td>
　<td style="font-size:16px;"> <font color="midnightblue"> 桃園市 </font> </td>
　</tr>

　<tr bgcolor="#F5F5F5">
　<td style="text-align: center; line-height:36px; vertical-align: middle; font-size:16px;"> 興趣 </td>
　<td style="font-size:16px;"> <font color="midnightblue"> 聽歌 <br> 去一堆沒去過的地方 </font> </td>
　</tr>

  <tr bgcolor="white">
　<td style="text-align: center; line-height:36px; vertical-align: middle; font-size:16px;"> 畢業的學校 </td>
　<td style="font-size:16px;"> <font color="midnightblue"> 龍潭高中 </font> </td>
　</tr>



</table> </center> </div>
