<HTML>
<HEAD>
<TITLE>個 人 履 歷 表</TITLE>
</HEAD>
<BODY bgcolor=#ffffff>
<P>
<CENTER><FONT SIZE=5> <BR>
</FONT></CENTER>
<P>
<TABLE CELLPADDING=2 border=4 BORDERCOLORLIGHT="#FFD0D0" BORDERCOLORDARK="#A425B1">
<caption><b>個 人 履 歷 表</b></caption>
<TR><TH>姓名</TH><TD>李達夫</TD><TH>性別</TH><TD>男
</TD><TD WIDTH=160 rowspan=4><img src="person.jpg"></TD></TR>
<TR><TH>學歷</TH><TD>森林小學畢業
</TD><TH>個性</TH><TD>自閉</TD></TR>
<TR><TH>專長</TH><TD>打呼
</TD><TH>年齡</TH><TD>25</TD></TR>
<TR><TH COLSPAN=2>身分證字號
</TH><TD COLSPAN=2>B 1233838538</TD></TR>
<TR><TH>地址</TH><TD COLSPAN=4>北市南港路三段50巷號7號5F 
</TD></TR>
</TABLE>
</BODY>
</HTML>
